<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game_of_Life.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Game_of_Life.Properties.Settings>
            <setting name="ColorComboBoxIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MiliTime" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ColorComboBoxText" serializeAs="String">
                <value>Light Mode</value>
            </setting>
            <setting name="ShowCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFinite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CountComboBoxText" serializeAs="String">
                <value>Finite</value>
            </setting>
            <setting name="CountComboBoxIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HideGridText" serializeAs="String">
                <value>Hide Grid</value>
            </setting>
            <setting name="HideCountText" serializeAs="String">
                <value>Hide Neighbor Count</value>
            </setting>
        </Game_of_Life.Properties.Settings>
    </userSettings>
</configuration>